// STYLE: CSS MAIN CONTATTO 
.jumbo-contatti{
    img{
        width: 100%;
    }
}

.altre-info{
    text-align: center;
    span{
        color: green;
        &:hover{
            cursor: pointer;
            text-decoration: underline green;
        }
    }
}