// STILE_ CSS PER PRODOTTO 
.box-main-prodotto{
    h1{
        text-align: center;
        color: $colorFont;
        margin-bottom: 10px;
    }
    .box-prodotto{
        .box-info{
            width: 100%;
            height: 700px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            padding: 50px;
            margin-top: -665px;
        }
        .box-img{
            img{
                width: 100%;
                display: block;
            }
        }
    }
}
